@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f2f9ff;
  --shape-bg-color: #e8f3ff;
  --primary-blue: #2c83fb;
  --secondary-blue: #385bff;
  --primary-gray: #2c465b;
  --secondary-gray: #e9ecf3;
  --option-gray: #677294;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'DM Sans', sans-serif; */
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

/* This media query works by controlling the page orientation in the mobile version */
@media screen and (max-width: 1000px) and (max-height: 600px) and (orientation: landscape) {
  body::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary-blue);
    color: #fff;
    content: 'Desculpe, mas o site não é compatível com o modo paisagem';
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    z-index: 1000;
  }
}
